<div class="row">
    <div class=" col-md-12">
        <ngx-charts-combo
            [categories]="categoriesCombo"
            [series]="seriesCombo"
            [options]="optionsCombo"
        >
        </ngx-charts-combo>
        <br/>
        <p><b>Html: </b> </p>
        <pre>
            <code>
            {{ htmlcombo}}
            </code>
        </pre>
        <p><br/><b>Ts: </b></p>
        <pre>
            <code>
            {{ tscombo }}
            </code>
        </pre>
        <br/>
        <br/>
    </div>
</div>