<div class="row">
    <div class=" col-md-12">
        <h3>Ngx Charts Installation</h3>
    </div>
</div>
<br />
<div>
    <p> <b>Ngx Charts</b> is an angular library for presenting data in chart. This library is easy to integrate in your angular component. This library supports Horizontal Bar, Vertical Bar, Pie, Donuts and Line chart. In this libray use D3 to calculate math, scale, axis and shape.</p>
    <p>You can install via NPM.</p>
    <p>
        <code spellcheck="false">npm install @tusharghoshbd/ngx-charts</code>
    </p>
    <p>
        <b>Import in module file: </b>
    </p>
    <pre>
        <code>
        {{import}}
        </code>
    </pre>
    <br>
    <br>
</div>