<div class="row">
    <div class=" col-md-12">
        <ngx-charts-line
            [categories]="categoriesl"
            [series]="seriesl"
            [options]="optionsl"
        >
        </ngx-charts-line>
        <br/>
        <p><b>Html: </b> </p>
        <pre>
            <code>
            {{ htmll}}
            </code>
        </pre>
        <p><br/><b>Ts: </b></p>
        <pre>
            <code>
            {{ tsl }}
            </code>
        </pre>
        <br/>
        <br/>
    </div>
</div>