<div class="container">
    <br/>
    <br/>
    <ngx-charts-line
        [categories]="categoriesl"
        [series]="seriesl"
        [options]="optionsl"
    >
    </ngx-charts-line>
    <br>   
    <ngx-charts-bar
        [categories]="categoriesv"
        [series]="seriesv"
        [options]="optionsv"
    >
    </ngx-charts-bar>
    <br>    
    <ngx-charts-bar
        [categories]="categoriesh"
        [series]="seriesh"
        [options]="optionsh"
    >
    </ngx-charts-bar>
    <br>
    <br>
</div>
