  
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" 
            (click)="toggleNavbarCollapse()"
            data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
        <a class="navbar-brand" href="#" (click)="clickMenuShow('home')">NgxCharts</a>
      </div>
      <div class="collapse navbar-collapse"
        [class.in]="navbarCollapse"  id="myNavbar">
        <ul class="nav navbar-nav">
          <li [class.active]="navBarShow.home"><a href="#" (click)="clickMenuShow('home')">Home</a></li>
          <li [class.active]="navBarShow.installation"><a href="#" (click)="clickMenuShow('installation')">Installation</a></li>
          <li [class.active]="navBarShow.bar" ><a href="#" (click)="clickMenuShow('bar')">Bar</a></li>
          <li [class.active]="navBarShow.pie"><a href="#" (click)="clickMenuShow('pie')">Pie</a></li>
          <li [class.active]="navBarShow.line"><a href="#" (click)="clickMenuShow('line')">Line</a></li>
          <li [class.active]="navBarShow.combo"><a href="#" (click)="clickMenuShow('combo')">Combo</a></li>
          <li ><a  style="color:red" href="https://stackblitz.com/edit/tusharghoshbd-ngx-charts" >Live code</a></li>
          <li ><a   href="https://github.com/tusharghoshbd/ngx-charts" >Github</a></li>
        </ul>
      </div>
    </div>
  </nav>
  
  <div class="container">
        <app-home  *ngIf="navBarShow.home" ></app-home>
        <app-installation *ngIf="navBarShow.installation"></app-installation>
        <app-bar  *ngIf="navBarShow.bar" ></app-bar>
        <app-pie  *ngIf="navBarShow.pie" ></app-pie>
        <app-line  *ngIf="navBarShow.line" ></app-line>
        <app-combo  *ngIf="navBarShow.combo" ></app-combo>
  </div>
  
 