<div class="chart-legend ng-tns-c30-0 ng-star-inserted" [style.width]="options.width+'px'">
    <div style="text-align: center;">
        <div class="legend-wrap">
            <ul class="legend-labels" style="max-height: 255px;">
                <li class="legend-label ng-star-inserted"
                  *ngFor="let gn of groupName;let i=index"  
                >
                    <div  *ngIf="gn.name">
                        <span class="legend-label-color" 
                            [style.background-color] = "gn.color"> </span>
                        <span class="legend-label-text">
                            {{ options.legend.labelEllipsis ? trimLabel(gn.name,  options.legend.labelEllipsisSize) :gn.name}}
                        </span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>