
<svg>
    <g #xAxisHeightEl data-z-index="20" height="70"> 
        <g class="highcharts-axis highcharts-yaxis" data-z-index="2" aria-hidden="true" >
            <text [attr.x]="options.width/2" [attr.y]="options.height-10" text-anchor="middle" dominant-baseline="central"  style="margin-bottom: 50px; color:#666666;cursor:default;font-size:11px;fill:#666666;"
                class="highcharts-axis-title"
                >
                {{options.xAxis ? options.xAxis.title : ""}}
            </text>
        </g>
        
        <g class="highcharts-axis-labels highcharts-xaxis-labels" data-z-index="7" aria-hidden="true"
            *ngIf="options.barType == 'vertical'">
            <text 
                *ngFor="let item of categories; let i = index;let f = first;"
                [attr.x] = 'xScale(item) + (xScale.bandwidth()/2)+options.yAxis.width'
                [attr.y] = "options.height-30"
                [attr.transform]="xTransformRotate(item)"
                [attr.text-anchor]="options.xAxis.labelAlign"
                style="color:#666666;cursor:default;font-size:11px;fill:#666666;"
                opacity="1">{{item}}</text>
        </g> 

        <g class="highcharts-axis-labels highcharts-yaxis-labels" data-z-index="7" aria-hidden="true"
            *ngIf="options.barType == 'horizontal'">
            <text style="color:#666666;cursor:default;font-size:11px;fill:#666666;" 
                text-anchor="middle"
                *ngFor="let tick of ticks" 
                [attr.x] = 'xScale(tick) + options.yAxis.width'
                [attr.y] = "options.height - 30"
                [attr.transform]="xTransformRotate(tick)"
                opacity="1">{{tick}}</text>
        </g>
    </g>
    <g *ngIf="options.barType == 'horizontal'" class="highcharts-grid highcharts-yaxis-grid" data-z-index="1" aria-hidden="true">
        <path fill="none" stroke="#e6e6e6" stroke-width="1" data-z-index="1" class="highcharts-grid-line"
            *ngFor="let tick of ticks" [attr.d]="pathDirection(tick)" opacity="1">
        </path>
    </g>
</svg>
